/*Maine Page*/
.background{
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  background: url("./image/background.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.Menu{
  position: relative;
  width: 70%;
  height: 55%;
  left: 15%;
  top: 15%;
  background-color: #ffff;
  background: radial-gradient(50% 50% at 50% 50%, #7D0080 0%, rgba(255, 255, 255, 0) 100%), rgba(253, 253, 253, 0.01);
  border: 2px solid #FFFFFF;
  box-sizing: border-box;
  backdrop-filter: blur(7px);
  border-radius: 35px;
}
.logo{
  position :absolute;
  z-index : 1;
  width: 20%;
  height: 25%;
  background: url("./image/imageLogo.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  /* flex-grow: 1; */
  margin-left: 40%;
  margin-top:2%;
}
.button-container{
  display : flex;
  flex-direction: column;
  width: 45%;
  height: 50%;
  margin-top: 11%;
  margin-left: 26.5%;
  align-items: center;
  /* background-color: #FFFFFF; */
}
.button-menu{
  font-family: 'Quicksand';
  color : #FFFFFF;
  font-weight: 300;
  font-size: 1.8vw;
  background: rgba(255, 255, 255, 0.45);
  backdrop-filter: blur(100px);
  text-align:center;
  border-radius: 15px;
  outline-style: none;
  border: solid 1.5px ;
  border: linear-gradient(100deg, #FFFFFF 0%, rgba(0, 0, 0, 0) 100%);
  text-decoration: none;
  line-height:175%;
  margin:1%;
  opacity: 0.8;
}
.button-menu:hover{
  background-color: #660074;
}

/*Craft Page*/

/*Craft input carte*/
.menu-craft{
  display : flex;
  flex-direction: column;

  width : 225%;
  /* text-align:center;
  justify-content: center; */
  margin-top : 1%;
  margin-bottom : 2%;
  margin-right: 10%;
  text-align:center;
/* 
  background-color: #df0303; */
}
.container-input-craft{
  display:flex;
  flex-direction: raw;
  width : 100%;
  align-items: center;
  justify-content: center;
  width:105%;
  /* background-color: #FFFFFF; */
}
.input-craft-carte{
  outline:none;
  width: 14%;
  height: 115%;
  border-radius: 15px;
  border: none;
  font-size: 0.85vw;
  background: rgba(255, 255, 255, 0.75);
  backdrop-filter: blur(100px);
  text-align: center;
}
.plus{
  font-size: 1.5vw;
  margin-left : 1%;
  margin-right : 1%;
  color:#FFFFFF;
}
.equal{
  font-size: 2vw;
  margin-left: 5%;
  color:#FFFFFF;
}
.input-craft-items{
  align-self: center;
  outline:none;
  width: 19%;
  height: 115%;
  border-radius: 15px;
  font-size: 1.25vw;
  padding-left: 0.5%;
  padding-top: 0.4%;
  padding-bottom: 0.3%;
  margin-left: 5%;
  text-align: center;
  font-family: 'Quicksand';
  color : #FFFFFF;
  background: rgba(255, 255, 255, 0.75);
  backdrop-filter: blur(100px);
  border: solid 1.5px ;
  border: linear-gradient(100deg, #FFFFFF 0%, rgba(0, 0, 0, 0) 100%);
  text-decoration: none;
  opacity: 0.8;
}





/*Db Page*/
/*Nav bar*/
nav
{
  display: flex;
  position: fixed;
  justify-content:center;
  align-items:center;
  top: 0;
  right:0;
  width: 83%;
  height: 8.5%;
  padding-top: 1.3%;
  padding-bottom: 1.3%;
  background: url("./image/galaxie.jpg");
  /* background-color: #262626; */
}
.Logo-container{
  display: flex;
  flex-direction: column;
  position :fixed;
  top:0;
  left:0;
  background-color: #262626;
  width: 17%;
  height: 100%;
  z-index : 1;
}
.logo-navBar{
  position :absolute;
  z-index : 1;
  width: 60%;
  height: 12%;
  background: url("./image/imageLogo.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-size: cover;
  top:0;
  left:0;
  margin-left: 18%;
  margin-top: 1.2%;
}

.input-navBare{
  width: 30%;
  outline:none;
  border-radius: 1%;
  height: 40%;
  font-size: 1.25vw;
  font-family: 'Quicksand';
  color : white;
  text-decoration: none;
  border-radius: 15px;
  background-color: #262626;
  padding-left: 12px;
  border: solid;
  border-width: 2px;
  border-color: #7D0080 ;
  margin-right: 1.1%;
}
.input-navBare:hover:focus{
  background-color: #333333;
}
.button-navBare{
  height: 50%;
  font-size: 1.1vw;
  text-align:center;
  border-radius: 15px;
  outline-style: none;
  text-decoration: none;
  color : white;
  background-color: #262626;
  border: solid;
  border-width: 2px;
  border-color: #7D0080 ;
  font-family: 'Quicksand';
}
.button-navBare:hover{
  background-color: #4c4c4c;
}
.trait{
  position: static;
  position :absolute;
  z-index : 1;
  width:95%;
  height: 0px;
  margin-left: 2.5%;
  border-bottom: 2px solid #4c4c4c;
}
#trait0{
  margin-top: 42%;
}
.input-recherche-carte{
  width:75%;
  height: 2.8%;
  /* margin-top: 50%; */
  border-radius: 15px;
  background-color: #333333;
  outline:none;
  border: solid;
  border-width: 2px;
  border-color: #404040 ;
  color:#FFFFFF;
  margin-left: 2%;
  padding-left: 11px;
  font-size: 1vw;
}
.input-recherche-carte:hover:focus{
  background-color: #4c4c4c;
}
#trait1{
  margin-top: 275%;
}
#Add-carte{
  display: flex;
  flex-direction: column;
  width:100%;
  height: 20%;
  margin-top: 35%;
  margin-left: 2.5%;
}
#titre-recherche-carte{
  font-family: 'Quicksand';
  color:#707070;
  font-size: 1.8vw;
  margin-top: 55%;
  margin-left: 2%;
}
#titre-ajout-carte{
  font-family: 'Quicksand';
  color:#707070;
  font-size: 1.8vw;
}
#button-sub-add-craft{
  width: 22%;
  font-family: 'Quicksand';
  border-radius: 15px;
  outline:none;
  border: solid;
  border-width: 2px;
  border-color: #404040 ;
  color:#7e7e7e;
  background-color: #333333;
  font-size: 0.75vw;
}
#button-sub-add-craft:hover{
  background-color: #4c4c4c;
}
#input-add-craft{
  width: 65%;
  font-family: 'Quicksand';
  margin-right: 3%;
  border-radius: 15px;
  outline:none;
  border: solid;
  border-width: 2px;
  border-color: #404040 ;
  color:#7e7e7e;
  background-color: #333333;
  font-size: 0.9vw;
  padding-left :8px;
}
#input-add-craft:hover:active{
  background-color: #4c4c4c;
}
.Return-Home{
  bottom: 0;
  color:#707070;
  position :absolute;
  margin-left: 25%;
  margin-bottom: 2.4%;
  text-decoration: none;
  font-family: 'Quicksand';
  font-size: 0.8vw;
}

#containeur-all_data{
  display:flex;
  flex-direction: column;
  background-color: #898989;
  width: 83.7%;
  /* height: 200%; */
  margin-left: 16.7%;
  margin-top: 6.85%;

}
.porteur-all-data-craft{
  display:flex;
  flex-direction: raw;
  width: 80%;
  margin-left: 10%;
  margin-top: 2%;
  background-color: #3b1080;
  border-radius: 15px 25px 25px 15px;
}
.data-craft-containeure{
  display:flex;
  align-items :center;
  background-color: #565656;
  width: 95%;
  border-radius: 10px;
  justify-content:center;
}
.edit-supp-xontaineur{
  display:flex;
  flex-direction: column;
  margin-left: 1.5%;
}
.edit-craft{
  color:#FFFFFF;
  font-size: 1vw;
}
.input-data-craft{
  width:10%;
  height: 20%;
  outline: none;
  outline:none;
}
.plusse{
  color:#FFFFFF;
}
.egalee{
  color:#FFFFFF;
}
.Photo-items{
  background: url("./image/1001.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width:8%;
  height: 100%;
  background-size: cover;
  margin-left: 5%;
}

