/*Maine Page*/
.background{
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  background: url("./image/background.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.Menu{
  position: relative;
  width: 70%;
  height: 59%;
  left: 15%;
  top: 15%;
  background-color: #FFFFFF;
  background: radial-gradient(50% 50% at 50% 50%, #7D0080 0%, rgba(255, 255, 255, 0) 100%), rgba(253, 253, 253, 0.01);
  border: 2px solid #FFFFFF;
  box-sizing: border-box;
  backdrop-filter: blur(7px);
  border-radius: 35px;
}
.logo{
  position :absolute;
  z-index : 1;
  width: 20%;
  height: 25%;
  background: url("./image/imageLogo.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  margin :2% 0% 0% 40%;
}
.flex-clounm-center{
  display : flex;
  flex-direction: column;
  align-items: center;
}
#button-container{
  width: 45%;
  height: 50%;
  margin-top: 11%;
  margin-left: 26.5%;
}
#button-craft{
  width: 20%;
  height: 25%;
  left: calc(50% - 234px/2 - 0.48px);
  top: calc(50% - 80px/2 - 76px);
}
#button-recherche{
  width: 35%;
  height: 25%;
  left: calc(50% - 353px/2 + 0.02px);
  top: calc(50% - 80px/2 + 19px);
}
#button-Base-donner{
  width: 55%;
  height: 25%;
  left: calc(50% - 451px/2 - 0.98px);
  top: calc(50% - 80px/2 + 114px);
}
.button-menu{
  font-family: 'Quicksand';
  color : #FFFFFF;
  font-weight: 300;
  font-size: 1.8vw;
  background: rgba(255, 255, 255, 0.45);
  backdrop-filter: blur(100px);
  text-align:center;
  border-radius: 15px;
  outline-style: none;
  border: solid 1.5px ;
  border: linear-gradient(100deg, #FFFFFF 0%, rgba(0, 0, 0, 0) 100%);
  text-decoration: none;
  line-height:175%;
  margin:1%;
  opacity: 0.8;
}
.button-menu:hover{
  background-color: #660074;
}
/*Craft Page*/
/*Craft input carte*/
.menu-craft{
  display : flex;
  flex-direction: column;
  width : 225%;
  margin-top : 1%;
  margin-bottom : 2%;
  margin-right: 10%;
  text-align:center;
}
.container-input-craft{
  display:flex;
  flex-direction: raw;
  align-items: center;
  justify-content: center;
  width:100%;
  margin-left: 2.2%;
}
.input{
  outline:none;
  width: 15%;
  height: 110%;
  border-radius: 15px;
  border: none;
  font-size: 0.90vw;
  background: rgba(255, 255, 255, 0.75);
  backdrop-filter: blur(100px);
  font-family: 'Quicksand';
}
.testDiv{
  width: 100%;
}

.operator-style{
  font-size: 1.5vw;
  margin-left : 1%;
  margin-right : 1%;
  color:#FFFFFF;
}
#input-items{
  align-self: center;
  font-size: 1.15vw;
  padding:  0.4% 0.3% 0.5% 0;
  margin-left: 5%;
  width: 15%;
}
/*Db Page*/
/*Nav bar*/
nav
{
  display: flex;
  position: fixed;
  justify-content:center;
  align-items:center;
  z-index: 1;
  top: 0;
  right:0;
  width: 83%;
  height: 8.5%;
  padding: 1.3% 0% 1.3% 0%;
  background: url("./image/galaxie.jpg");
  border-radius: 0 0 25px 0;
}
.nav-vertical-containeure{
  display: flex;
  flex-direction: column;
  position :fixed;
  top:0;
  left:0;
  background-color: #262626;
  width: 17%;
  height: 100%;
}
#logo-navBar{
  position :relative;
  width: 60%;
  height: 12.5%;
  top:0;
  left:0;
  margin : 1.2% 0% 5.7% 18%;
}
#recherche-craft-by-items{
  width: 30%;
  height: 40%;
  background-color: #262626;
  padding-left: 12px;
  color :#ffffffff;
  margin-right: 1.1%; 
  text-align: left;
}
#recherche-craft-by-items:hover{
  background-color: #333333;
}
.contenant-add-recherche-cart{
  width:95%;
  height: 81%;
  border-bottom: 2px solid #4c4c4c;
  border-top: 2px solid #4c4c4c;
  margin: 0% 0% 0% 2.5%;
}
.titre-verticalNav{
  font-family: 'Quicksand';
  color:#707070;
  font-size: 1.8vw;
  margin: 19% 0% 5.5% 0%;
}
#input-add-craft{
  width: 65%;
  height: 3%;
  border-radius: 15px;
  text-align: left;
  border: solid 2px #404040;
  color:#7e7e7e;
  background-color: #333333;
  font-size: 1vw;
  padding-left :8px;
  margin-right: 3%;
}
#input-add-craft:hover:active{
  background-color: #4c4c4c;
}
.input-button{
  width: 29%;
  font-size: 1vw;
  padding-left :8px;
  border-radius: 15px;
  border: solid 2px #404040;
  outline :none;
  color:#7e7e7e;
  background-color: #333333;
}
.input-button:hover{
  background-color: #4c4c4c;
}
#containeur-all_data{
  display:flex;
  flex-direction: column;
  width: 83.7%;
  background-color: #898989;
  margin : 6.85% 0% 0% 16.7%;
}
.porteur-all-data-craft{
  display:flex;
  flex-direction: raw;
  width: 95%;
  margin : 2% 0% 0% 4%;
  background-color: #3b1080;
  border-radius: 15px 25px 25px 15px;
}
.data-craft-containeure{
  display:flex;
  align-items :center;
  background-color: #565656;
  width: 95%;
  border-radius: 10px;
  justify-content: center;
}
#input-task{
  width: 11%;
  border: solid 2px #404040;
  color:#ffffffff;
  background-color: #333333;
  font-size: 0.8vw;
  text-align: left;
  padding-left :8px;
  height: 20%;
}
.Photo-items{

  background: url("./image/1001.png");
  background-repeat: no-repeat;
  width:11%;
  height: 100%;
  background-size: cover;
  /* margin-left: 5%; */
}

